.modal-dialog {
  width: 70vw !important;
  max-width: none !important;
}

.modal-content {
  border-radius: 24px !important;
  padding: 20px 20px 20px 20px !important;
  height: 70vh !important;
}

.modal-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* padding-left: 30px; */
}

.alignCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal-body {
    padding: 10px 30px 10px 30px !important;
    width: 100%;
    margin: auto;
}

.modal-footer {
  display:grid !important;
  height: fit-content;
  grid-template-columns: 3fr 7fr;
  align-items: unset !important;
}

.CommentSection{
  display: flex;
  padding-left: 15px;
  /* align-items: center; */
  flex-direction: column;
  justify-content: flex-start;
}

.FilmInfo {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(243, 136, 136);
}

.LeftPanel {
  border-right: 1px solid rgb(243, 136, 136);
}

.IndividualComment {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(184, 184, 236);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.CommentRatingRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* margin: 5px; */
}


.modal-wrapper {
  /* height: 70vh; */
  /* display: grid;
  grid-template-rows: 1fr 5fr; */
}

.RatingCountWrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.Rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid salmon;
  border-radius: 30px;
  margin: 10px 30px 0px 30px;
  /* padding: 5px; */
  font-size: 18px;
  /* align-item */
}

.Underline {
  margin-top: 10px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 5px;
  color: rgb(243, 152, 33);
  /* background: rgb(129, 215, 236); */
  /* border: 1px solid rgb(243, 152, 33); */
  /* border-radius: 30px; */
}

.CreateCommentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.AddCommentButton {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 5px;
  border: 1px solid rgb(129, 129, 240);
  border-radius: 10px;
  padding: 10px;
  background-color:rgba(129, 129, 240, 0.6);
}